{
  "rules": {
    "no-eq-null": "off",
    "no-unreachable": "warn",
    "no-console": "warn",
    "no-undef": "warn",
    "no-unnecessary-type-constraint": "error",
    "prefer-enum-initializers": "error",
    "no-magic-numbers": "error",
    "ban-types": "error",
    "eqeqeq": "error"
  }
}