---
import Layout from "../layouts/Layout.astro"
import { Content as Welcome } from "../posts/welcome.md"
---

<Layout title="Welcome to Astro.">
	<main class="container prose dark:prose-invert mt-32"> 
		<Welcome />
	</main>
</Layout>

<style></style>
